html{
}

body {
  /*background: url() no-repeat;*/
  /*background-color:black;*/
  background:url(http://i1301.photobucket.com/albums/ag119/jabattack1/clouds_zpsjupnhatn.jpg) repeat-y center top;
  background-size: 900px;
  background-repeat: no-repeat;
	width:900px;
  	height: 900px;
  	margin: 0 auto;
  position:relative;
  /*background-color:red;*/
}


#page-wrap {
  /*font-family: Georgia, serif;*/
  /*background-position: center;*/
  background-attachment:scroll;
  /*overflow-x: hidden;*/
  	margin: 0 auto;
     /*width: 900px;*/
     /*margin: 0 auto;*/
}

#bone {
	position:absolute;
	background:url(./images/bone.png);
	background-repeat:no-repeat;
	background-size:600px 700px;
	width:600px;
	height:700px;
	margin-left:150px;
}

#textarea-wrapper {
	position:absolute;
	background:url(./images/screen.png);
	background-repeat:no-repeat;
	background-size:454px 121px;
	width:454px;
	height:121px;
	z-index:0;
	margin-left:228px;
	margin-top:65px;
	border-radius: 8px;
}

#answer{
	position:absolute;
	font-family:"orbitron",Arial,sans-serif;
	background:url(./images/screen.png);
	background-size:454px 130px;
	font-size: 130px;
	margin-top:0px;
	margin-left:0px;
	/*text-shadow: .5px .5px .5px #FFFFFF;*/
	direction:RTL;
	text-align:right;
	width:454px;
	height:127px;
	border-radius: 8px;
	border: none;
	color: transparent;
	text-shadow: 0 0 0 black;
	&:focus {
    	outline: none;
	}
}

#one {
	position:absolute;
	background-image:url(./images/1.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438.5px;
	margin-left:94px;
	background-size:72px 43px;
	width:72px;
	height:43px;
	border-radius:12px;
}

#two {
	position:absolute;
	background-image:url(./images/2.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438.5px;
	margin-left:190px;
	background-size:72px 43px;
	width:72px;
	height:43px;
	border-radius:12px;
}