

body {
  	/*background: url() no-repeat;*/
  	background:url(./images/deskt.jpg) repeat-y center top;
	background-color: black;
	background-size: 700px 720px;
  	/*background:url(./images/deskt.jpg) repeat-y center top;*/
  	background-repeat: no-repeat;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  	/*margin: 0 auto;*/
  	position:fixed;
  	/*background-color:red;*/
}

#mainLogo{
	position:absolute;
	width:240px;
	margin-left:220px;
	margin-top:243px;
	z-index:10;
}


#page-wrap {
  /*font-family: Georgia, serif;*/
  /*background-position: center;*/
  /*background-attachment:scroll;*/
  /*overflow-x: hidden;*/
  /*position: fixed;*/
  	margin: 50% 50%;
  	width:900px;
  	height: 630px;
     /*width: 900px;*/
     /*margin: 0 auto;*/
}

#name {
	font-family:'Alice';
	margin-top:240px;
	margin-left: 230px;
	position: absolute;
	z-index:8;
	font-size:50px;
}

#e {
	font-family:'digi';
	margin-left:-110px;
	position: absolute;
	z-index:5;
	font-size:50px;
	margin-top:65px;
	margin-left:17px;
}


#jr {
	color:#2F62D8;
}

#masking {
	position: absolute;
	margin-top:235px;
	margin-left:200px;
	height:60px;
	width: 250px;
	z-index:7;
}

#tofu {
	position: absolute;
	margin-top:225px;
	margin-left: 180px;
	height:70px;
	width: 280px;
	z-index:7;
}

#tag {
	position: absolute;
	margin-top:170px;
	margin-left: -150px;
	height:200px;
	width: 220px;
}

#pencil {
	position: absolute;
	margin-top:410px;
	margin-left: 730px;
	height:350px;
	width: 260px;

}

#eraser {
	position: absolute;
	margin-top:365px;
	margin-left: -130px;
	height:270px;
	width: 290px;
}

#paper {
	position: absolute;
	margin-top:400px;
	margin-left:640px;
	height:360px;
	width: 450px;
	z-index:-1;
}

#note {
	position: absolute;
	margin-top:-30px;
	margin-left:749.5px;
	height:360px;
	width: 340px;
	z-index:-1;
}

#welcome {
	font-family:'Alice';
	font-size:30px;
	position: absolute;
	margin-top:15px;
	margin-left:775px;
	height:360px;
	width: 340px;
	z-index:1;
}

#bone {
	position:absolute;
	background:url(./images/bone.png);
	background-repeat:no-repeat;
	background-size:600px 700px;
	width:600px;
	height:700px;
	margin-left:0px;
}

#textarea-wrapper {
	position:absolute;
	background:url(./images/screen.png);
	background-repeat:no-repeat;
	background-size:454px 121px;
	width:454px;
	height:121px;
	margin-left:228px;
	margin-top:65px;
	border-radius: 8px;
}

@font-face {
    font-family: 'digi'; /*a name to be used later*/
    src: url(./images/DS-DIGIB.TTF); /*URL to font*/
}

@font-face {
    font-family: 'sister'; /*a name to be used later*/
    src: url(./images/LoveYaLikeASister.ttf); /*URL to font*/
}

@font-face {
    font-family: 'alice'; /*a name to be used later*/
    src: url(./images/JustAlice.ttf); /*URL to font*/
}

#answer{
	position:absolute;
	font-family:'digi';
	background:url(./images/screen.png);
	background-size:454px 130px;
	font-size: 130px;
	margin-top:0px;
	margin-left:0px;
	z-index:0;
	/*direction: rtl;*/
	/*text-shadow: .5px .5px .5px #FFFFFF;*/
	text-align:right;
	width:455px;
	height:127px;
	border-radius: 10px;
	border: none;
	color: transparent;
	text-shadow: 0 0 0 black;
	&:focus {
    	outline: none;
	}

}

#trick{
	position:absolute;
	font-family:'digi';
	background:url(./images/screen.png);
	background-size:454px 130px;
	font-size: 130px;
	margin-top:0px;
	margin-left:0px;
	z-index:0;
	/*text-shadow: .5px .5px .5px #FFFFFF;*/
	/*direction:RTL;*/
	text-align:right;
	width:455px;
	height:127px;
	border-radius: 10px;
	border: none;
	color: transparent;
	text-shadow: 0 0 0 black;
	&:focus {
    	outline: none;
	}

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:focus {outline:0;}
button { cursor: pointer; cursor: hand; }

#one {
	position:absolute;
	background-image:url(./images/1.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#two {
	position:absolute;
	background-image:url(./images/2.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#three {
	position:absolute;
	background-image:url(./images/3.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#four {
	position:absolute;
	background-image:url(./images/4.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#five {
	position:absolute;
	background-image:url(./images/5.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#six {
	position:absolute;
	background-image:url(./images/6.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#seven {
	position:absolute;
	background-image:url(./images/7.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#eight {
	position:absolute;
	background-image:url(./images/8.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#nine {
	position:absolute;
	background-image:url(./images/9.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#zero {
	position:absolute;
	background-image:url(./images/0.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#c {
	position:absolute;
	background-image:url(./images/c.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#ac {
	position:absolute;
	background-image:url(./images/ac.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#period {
	position:absolute;
	background-image:url(./images/period.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#add {
	position:absolute;
	background-image:url(./images/plus.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:385px;
	background-size:71px 110px;
	width:71px;
	height:109px;
	border-radius:11px;
}

#subtract {
	position:absolute;
	background-image:url(./images/subtract.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:385px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#times {
	position:absolute;
	background-image:url(./images/times.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:385px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#division {
	position:absolute;
	background-image:url(./images/division.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:385px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#equals {
	position:absolute;
	background-image:url(./images/equals.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mplus {
	position:absolute;
	background-image:url(./images/m+.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mminus {
	position:absolute;
	background-image:url(./images/m-.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mr {
	position:absolute;
	background-image:url(./images/mr.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mc {
	position:absolute;
	background-image:url(./images/mc.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#percentage {
	position:absolute;
	background-image:url(./images/percentage.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#swoosh {
	position:absolute;
	background-image:url(./images/swoosh.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#rights {
  font-family: 'sabo', Georgia, Times, serif;
  
  color: #000000;
  margin-left: 0px;
  bottom:0;
  position: absolute;
  /*background-color: #000000;*/
  height: 15px; 
    width: 700px;
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.5);*/
    /*border-radius: 5px 5px 5px 5px;*/
}

#copyright {
  font-family: 'sabo', Georgia, Times, serif;
  margin-top: 10px;
  font-size: 9px;
  /*width:200px;*/
  /*padding: 0px;*/
  margin-left: 250px;
  position: absolute;
  color:black;
}
#cred {
  font-family: 'sabo', Georgia, Times, serif;
  font-size:9px;
  /*width:170px;*/
  margin-top: 10px;
  margin-left: 520px;
  /*padding: 5px;*/
  position: absolute;
  color:black;
  
}


@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat white;
}






