html{
}

body {
  /*background: url() no-repeat;*/
  /*background-color:black;*/
  background:url(./images/deskt.jpg) repeat-y center top;
  background-size: 1280px 760px;
  background-repeat: no-repeat;
	width:900px;
  	height: 600px;
  	margin: 0 auto;
  position:relative;
  /*background-color:red;*/
}


#page-wrap {
  /*font-family: Georgia, serif;*/
  /*background-position: center;*/
  /*background-attachment:scroll;*/
  /*overflow-x: hidden;*/
  	margin: 0 auto;
     /*width: 900px;*/
     /*margin: 0 auto;*/
}

#name {
	font-family:'sister';
	margin-left:-110px;
	position: absolute;
	z-index:5;
}

#jr {
	color:#2F62D8;
}

#masking {
	position: absolute;
	margin-top:235px;
	margin-left:200px;
	height:60px;
	width: 250px;
	z-index:7;
}

#tofu {
	position: absolute;
	margin-top:10px;
	margin-left: -150px;
	height:80px;
	width: 350px;
}

#tag {
	position: absolute;
	margin-top:100px;
	margin-left: -50px;
	height:200px;
	width: 220px;
}

#pencil {
	position: absolute;
	margin-top:410px;
	margin-left: 730px;
	height:350px;
	width: 260px;

}

#eraser {
	position: absolute;
	margin-top:365px;
	margin-left: -130px;
	height:270px;
	width: 290px;
}

#paper {
	position: absolute;
	margin-top:400px;
	margin-left:640px;
	height:360px;
	width: 450px;
	z-index:-1;
}

#note {
	position: absolute;
	margin-top:-30px;
	margin-left:749.5px;
	height:360px;
	width: 340px;
	z-index:-1;
}

#welcome {
	font-family:'sister';
	position: absolute;
	margin-top:33px;
	margin-left:770px;
	height:360px;
	width: 340px;
	z-index:1;
}

#bone {
	position:absolute;
	background:url(./images/bone.png);
	background-repeat:no-repeat;
	background-size:600px 700px;
	width:600px;
	height:700px;
	margin-left:150px;
}

#textarea-wrapper {
	position:absolute;
	background:url(./images/screen.png);
	background-repeat:no-repeat;
	background-size:454px 121px;
	width:454px;
	height:121px;
	margin-left:228px;
	margin-top:65px;
	border-radius: 8px;
}

@font-face {
    font-family: 'digi'; /*a name to be used later*/
    src: url(./images/DS-DIGIB.TTF); /*URL to font*/
}

@font-face {
    font-family: 'sister'; /*a name to be used later*/
    src: url(./images/LoveYaLikeASister.ttf); /*URL to font*/
}

#answer{
	position:absolute;
	font-family:'digi';
	background:url(./images/screen.png);
	background-size:454px 130px;
	font-size: 130px;
	margin-top:0px;
	margin-left:0px;
	z-index:0;
	/*text-shadow: .5px .5px .5px #FFFFFF;*/
	direction:RTL;
	text-align:right;
	width:455px;
	height:127px;
	border-radius: 10px;
	border: none;
	color: transparent;
	text-shadow: 0 0 0 black;
	&:focus {
    	outline: none;
	}

}

#trick{
	position:absolute;
	font-family:'digi';
	background:url(./images/screen.png);
	background-size:454px 130px;
	font-size: 130px;
	margin-top:0px;
	margin-left:0px;
	z-index:0;
	/*text-shadow: .5px .5px .5px #FFFFFF;*/
	direction:RTL;
	text-align:right;
	width:455px;
	height:127px;
	border-radius: 10px;
	border: none;
	color: transparent;
	text-shadow: 0 0 0 black;
	&:focus {
    	outline: none;
	}

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:focus {outline:0;}
button { cursor: pointer; cursor: hand; }

#one {
	position:absolute;
	background-image:url(./images/1.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#two {
	position:absolute;
	background-image:url(./images/2.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#three {
	position:absolute;
	background-image:url(./images/3.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#four {
	position:absolute;
	background-image:url(./images/4.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#five {
	position:absolute;
	background-image:url(./images/5.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#six {
	position:absolute;
	background-image:url(./images/6.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#seven {
	position:absolute;
	background-image:url(./images/7.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#eight {
	position:absolute;
	background-image:url(./images/8.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#nine {
	position:absolute;
	background-image:url(./images/9.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#zero {
	position:absolute;
	background-image:url(./images/0.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#c {
	position:absolute;
	background-image:url(./images/c.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#ac {
	position:absolute;
	background-image:url(./images/ac.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#period {
	position:absolute;
	background-image:url(./images/period.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#add {
	position:absolute;
	background-image:url(./images/plus.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:438px;
	margin-left:385px;
	background-size:71px 110px;
	width:71px;
	height:109px;
	border-radius:11px;
}

#subtract {
	position:absolute;
	background-image:url(./images/subtract.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:385px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#times {
	position:absolute;
	background-image:url(./images/times.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:385px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#division {
	position:absolute;
	background-image:url(./images/division.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:385px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#equals {
	position:absolute;
	background-image:url(./images/equals.png);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:502px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mplus {
	position:absolute;
	background-image:url(./images/m+.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:287px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mminus {
	position:absolute;
	background-image:url(./images/m-.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:191px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mr {
	position:absolute;
	background-image:url(./images/mr.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:94px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#mc {
	position:absolute;
	background-image:url(./images/mc.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:246px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#percentage {
	position:absolute;
	background-image:url(./images/percentage.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:310px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}

#swoosh {
	position:absolute;
	background-image:url(./images/swoosh.PNG);
	background-repeat:no-repeat;
	background-color:none;
	z-index:2;
	margin-top:374px;
	margin-left:-2px;
	background-size:73px 44px;
	width:73px;
	height:45px;
	border-radius:11px;
}




